<div class="container">
		<header>
		<h3 class="indigo-text darken-3-text">Nosotros</h3>
        </header>    
	    <div class="card-panel">
	    <p>Gracias a la confianza y recomendaciones de nuestros clientes Serviexpress Asistencia se ha consolidado como una empresa líder en el mercado con más de 20 años de experiencia, nuestra garantía de calidad y confianza han sido la clave de nuestro éxito, estamos comprometidos en ofrecer a nuestros clientes un servicio profesional con soluciones integrales para su casa, negocio, oficina, empresa o industria, gracias a nuestra innovación y honestidad somos su mejor opción en servicios en mantenimiento, reparaciones e instalaciones tanto eléctricas, hidráulicas y sanitarias, además que conocemos y manejamos las mejores marcas y materiales del mercado.</p> 
        <article>
          <header>
            <h4 class="indigo-text darken-3-text">Mision</h4>
            <p>Es satisfacer y garantizar los requerimientos y necesidades de nuestros clientes a través de nuestros servicios, dando soluciones de respuesta inmediatas y respetando los más altos estándares de calidad.</p>
          </header>
        </article>
        <article>
          <header>
            <h4 class="indigo-text darken-3-text">Vision</h4>
            <p>Es llegar a ser una empresa reconocida, confiable y comprometida con nuestros clientes y el medio ambiente.</p>
          </header>
        </article>  
    </div>	
</div>    
