<div class="container">
	<header>
		<hgroup>
			<h3>Contacto</h3>
			<h5>Garantia Calidad y Confianza</h5>
		</hgroup>
    </header>    

    <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="images/contacto.jpg">
              <span class="card-title">Agenda tu servicio</span>
            </div>
            <div class="card-content">
              <p>Tenga usted la seguridad de que puede confiar en nosotros ya que nuestro personal se presenta a su domicilio con gafete de  identificación además de que somos una empresa establecida.</p>
            </div>
            <div class="card-action center">
              <a class="waves-effect waves-light blue btn-large modal-trigger" href="#modal2">Agendar</a>
            </div>
          </div>
        </div>
    </div>
</div>    

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Solicitud de registro</h4>
      <div class="row">
        <form class="col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="nombre" type="text" class="validate">
            <label for="nombre" data-error="wrong" data-success="right">Nombre cliente</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">home</i>
            <input id="direccion" type="text" class="validate">
            <label for="direccion" data-error="wrong" data-success="right">Direccion</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input id="telefono" type="text" class="validate">
            <label for="telefono" data-error="wrong" data-success="right">Telefono</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">work</i>
            <input id="servicio" type="text" class="validate">
            <label for="servicio" data-error="wrong" data-success="right">Servicio</label>
          </div>  
          <div class="input-field col s12">
            <i class="material-icons prefix">date_range</i>
            <input type="date" class="datepicker" id="fecha">
            <label for="fecha" data-error="wrong" data-success="right">Fecha</label>
          </div>  
          <div class="input-field col s12">
           <i class="material-icons prefix">av_timer</i>
            <input id="hora" type="text" class="validate">
            <label for="hora" data-error="wrong" data-success="right">Hora</label>
          </div>  
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>                                                       
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#tercera_seccion" class="waves-effect waves-blue btn-flat" id="enviar">Enviar</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>