<article>
    <div class="espacio"></div>
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="images/llave.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>SERVIEXPRESS ASISTENCIA</h3>
            <h5 class="light grey-text text-lighten-3">Garantia Calidad y Confianza</h5>
          </div>
        </li>
        <li>
          <img src="images/banio01.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Calidad</h3>
            <h5 class="light grey-text text-lighten-3">Nuestro profesionalismo y responsabilidad de trabajo nos compromete con nuestros  clientes a ofrecer un excelente servicio de calidad. </h5>
          </div>
        </li>
        <li>
          <img src="images/azulejo.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Garantia</h3>
            <h5 class="light grey-text text-lighten-3">Gracias a nuestra capacidad y preparación técnica- teórica  ofrecemos y damos a nuestros clientes la más amplía garantía de servicio en el mercado, además de conocer y manejar las mejores marcas de materiales.</h5>
          </div>
        </li>
        <li>
          <img src="images/lamp1.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Experiencia</h3>
            <h5 class="light grey-text text-lighten-3">Contamos con el respaldo de más de 20 años de experiencia basados en conocimientos y aplicaciones buscando así satisfacer las necesidades de nuestros clientes.</h5>
          </div>
        </li>
        <li>
          <img src="images/banio1.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Honestidad</h3>
            <h5 class="light grey-text text-lighten-3">La Honestidad ha sido una de las principales claves de nuestro éxito además de la  seriedad y responsabilidad que forman también parte de nuestra ética profesional.</h5>
          </div>
        </li>
        <li>
          <img src="images/banio.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Confianza</h3>
            <h5 class="light grey-text text-lighten-3">Tenga usted la seguridad de que puede confiar en nosotros ya que nuestro personal se presenta a su domicilio con gafete de  identificación además de que somos una empresa establecida.</h5>
          </div>
        </li>
      </ul>
    </div>
</article>
