<div class="container">
	<article>
	<h3>Servicios</h3>
	<div class="row">
	  <div class="col s12 m4">
	    <div class="card-panel">
	        <div class="center"><i class="material-icons icon-content blue-text">home</i></div>
	        <p class="center text-icon">Residencial</p>
	    </div>             
	  </div>
	  <div class="col s12 m4"> 
	    <div class="card-panel">
	        <div class="center"><i class="material-icons icon-content blue-text">business</i></div>
	        <p class="center text-icon">Comercial</p>
	    </div>             
	  </div>
	  <div class="col s12 m4">  
	    <div class="card-panel">
	        <div class="center"><i class="material-icons icon-content blue-text">location_city</i></div>
	        <p class="center text-icon">Industrial</p>
	    </div>                         
	  </div>
	</div>
	<h4 >Instalaciones reparaciones y mantenimiento</h4>
	<div class="row">
	  <div class="col s12 m4"> 
	    <div class="card">
	      <div class="card-image">
	        <img src="images/image071.jpg">
	        <span class="card-title">Hidrahulicas</span>
	      </div>
	      <div class="card-content">
	        <p>Esto es texto</p>
	      </div>
	    </div>          
	  </div>
	  <div class="col s12 m4">  
	    <div class="card">
	      <div class="card-image">
	        <img src="images/image035.jpg">
	        <span class="card-title">Electricas</span>
	      </div>
	      <div class="card-content">
	        <p>Esto es texto</p>
	      </div>
	    </div>                        
	  </div>
	  <div class="col s12 m4">  
	    <div class="card">
	      <div class="card-image">
	        <img src="images/image065.jpg">
	        <span class="card-title">Sanitarias</span>
	      </div>
	      <div class="card-content">
	        <p>Esto es texto</p>
	      </div>
	    </div>                                     
	  </div>
	</div>
	<div class="card-panel">
	<div class="row">
	    <div class="col s12 m6">
              <ul class="put-dot">
                <li class="put-dot">AMPLIACIONES Y REMODELACIONES </li>
                <li class="put-dot">INSTALACIONES Y REPARACIONES ELECTRICAS</li>
                <li class="put-dot">DISTRIBUCION Y BALANCEO DE CARGAS</li>
                <li class="put-dot">CORTOS CIRCUITOS DE EMERGENCIA</li>
                <li class="put-dot">SISTEMAS DE TIERRA FISICA</li>
                <li class="put-dot">LAMPARAS, VENTILADORES Y TRITURADORES</li>
                <li class="put-dot">ILUMINACION Y AHORRO DE ENERGIA CON LAMPARAS LEDS</li>
                <li class="put-dot">SISTEMAS DE CONTROL AUTOMATICO PARA MOTOBOMBAS</li>
                <li class="put-dot">MOTOBOMBAS, HIDRONEUMATICOS Y PRESURIZADORES</li>
                <li class="put-dot">AUTOMATIZACION DE ILUMINACION</li>
                <li class="put-dot">INSTALACIONES DE Y REPARACIONES DE SISTEMAS DE INTERFON</li>
              </ul>                             
          </div>
          <div class="col s12 m6">
            <ul>
            	<li class="put-dot">INTERRUPTORES Y TABLEROS DE ENERGIA</li>
              <li class="put-dot">KIT PARA NUEVOS MEDIDIRES DE CFE</li>
              <li class="put-dot">INSTALACIONES DE GAS Y AGUA </li>
              <li class="put-dot">TINACOS Y CISTERNAS</li>
              <li class="put-dot">MOTOBOMBAS</li>
              <li class="put-dot">HIDROMEUMATICOS Y PRESURIZADORES</li>
              <li class="put-dot">CALAENTADORES DE TODAS LAS MARCAS Y MODELOS</li>
              <li class="put-dot">MUEBLES Y ACCESORIOS PARA BAÑO</li>
              <li class="put-dot">LIMPIEZA Y DESOSOLVE DE DRENAJES Y MUEBLES DE BAÑO</li>
              <li class="put-dot">CALENTADORES SOLARES</li>
              <li class="put-dot">LAVADO Y DESINFECTADO DE TINACOS Y CISTERNAS</li>
              <li class="put-dot">HUMEDADES Y FILTRACIONES DE AGUA</li>
              <li class="put-dot">TANQUES ESTACIONARIOS DE GAS</li>                            
            </ul>             
          </div> 
	</div>	
	</div>
	</article>  
</div>